/* reset page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.header-box {
    max-width: 1440px;
    min-height: 150px;
    margin: auto;
    background-color: #e579e6;
    margin-top: 30px;
}