/* reset page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.box {
    max-width: 1440px;
    margin: auto;
    margin-top: 30px;
}

.header-box {
    min-height: 150px;
    background-color: #e579e6;
}

.yellow-box {
    min-height: 500px;
    background-color: #e1d67a;
}